root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  args_bin = []
  entrypoint = "./tmp/main"
  cmd = "go build -gcflags=\"all=-N -l\" -o ./tmp/main ."
  delay = 1000
  exclude_dir = []
  exclude_file = []
  include_file = ["go.mod", "go.sum", "main.go"]
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = "dlv exec ./tmp/main --headless=true --listen=:40000 --api-version=2 --accept-multiclient --continue"
  include_dir = ["handler", "middleware", "model", "router", "service", "store", "task", "utils"]
  include_ext = ["go", "tpl", "tmpl", "html"]
  kill_delay = "0s"
  log = "build-errors.log"
  poll = false
  poll_interval = 0
  rerun = false
  rerun_delay = 500
  send_interrupt = false
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true
